/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: transparent;
    position: relative;
  }
  
  /* Botón de regreso */
  .backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #52687a;
  }
  
  /* Título */
  .title {
    font-size: 2.5rem;
    font-family: 'Graduate', sans-serif;
    font-weight: bold;
    color: #c0c8db;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Contenedor de botones */
  .buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  /* Estilos de las tarjetas */
  .card {
    width: 180px;
    height: 120px;
    background-color: #c0c8db;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  /* Texto dentro de las tarjetas */
  .cardText {
    margin-top: 8px;
    font-size: 1rem;
    text-align: center;
    font-family: 'Graduate', sans-serif;
    color: #52687a;
  }
  
  /* Iconos */
  .icon {
    font-size: 1.5rem;
    color: #52687a;
    margin-bottom: 5px;
  }
  