.container-change-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: transparent;
    padding: 0;
    margin: 0;
    top: 0;
}

.title-change-password{
    font-size: 2.5rem;
    font-family: 'Graduate', sans-serif;
    font-weight: bold;
    color: #c0c8db;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px; 
}

.form-change-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 800px; 
}

.label {
    display: flex;
    flex-direction: column;
    font-family: 'Graduate', sans-serif;
    font-size: 1rem;
    color: #52687a;
    margin-bottom: 5px; 
}

.input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 12px; 
    margin-top: 5px;
    color: #52687a;
    background-color: #c0c8db; 
    width: 100%;
    max-width: 800px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
    text-align: center; 
}