/* Contenedor principal */
.clase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: #b0c4de;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: relative;
  }
  
  /* Botón de retroceso */
  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #52687a;
    font-size: 1.5rem;
  }
  
  /* Título */
  .title {
    font-size: 2.5rem;
    font-family: 'Graduate', sans-serif;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Contenedor del formulario */
  .form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }
  
  /* Secciones izquierda y derecha */
  .left-section, .right-section {
    display: flex;
    flex-direction: column;
    width: 48%;
    gap: 15px;
  }
  
  /* Agrupación de los campos del formulario */
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-family: 'Graduate', sans-serif;
    font-weight: bold;
    color: #52687a;
    margin-bottom: 5px;
    font-size: 1rem;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 1rem;
    background-color: white;
  }
  
  /* Contenedor de botones */
  .button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  /* Botón cancelar */
  .cancel-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.2s ease-in-out;
  }
  
  .cancel-button:hover {
    transform: scale(1.05);
    background-color: #c0392b;
  }
  
  /* Botón enviar */
  .submit-button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.2s ease-in-out;
  }
  
  .submit-button:hover {
    transform: scale(1.05);
    background-color: #1f6690;
  }
  