/* Contenedor principal */
.clase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    height: 100vh;
    position: relative;
  }
  
  /* Botón de retroceso */
  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #52687a;
    font-size: 1.5rem;
  }
  
  /* Título */
  .title {
    font-size: 2.5rem;
    font-family: 'Graduate', sans-serif;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Barra de búsqueda */
  .search-bar {
    display: flex;
    align-items: center;
    width: 60%;
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar input {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1rem;
  }
  
  .search-icon {
    font-size: 20px;
    color: #52687a;
  }
  
  /* Contenedor de la tabla */
  .table-container {
    width: 100%;
    overflow-x: auto;
  }
  
  /* Tabla */
  .clase-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .clase-table th, .clase-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
  }
  
  .clase-table th {
    background-color: #52687a;
    color: white;
  }
  
  /* Botón Actualizar */
  .update-button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.2s ease-in-out;
  }
  
  .update-button:hover {
    transform: scale(1.05);
    background-color: #1f6690;
  }
  