/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: transparent;
}

/* Botón de regreso */
.backButton {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #52687a;
  font-size: 1.5rem;
}

/* Título */
.title {
  font-size: 2.5rem;
  font-family: 'Graduate', sans-serif;
  font-weight: bold;
  color: #52687a;
  margin-bottom: 50px;
  text-align: center;
}

/* Contenedor de botones */
.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Estilos de las tarjetas */
.button {
  width: 280px; 
    height: 120px; 
    background-color: rgb(181, 181, 199);
    display: flex;
    color: #41495a;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.03);
}

/* Texto dentro de las tarjetas */
.buttonText {
  margin-top: 8px;
  font-size: 1rem;
  text-align: center;
  font-family: 'Graduate', sans-serif;
  color: #52687a;
}

.icon {
  font-size: 32px;
  margin-bottom: 10px;
}


